body {
  background: #eee;
  font-size: 0.8em;
}

.page-title h5 {
  margin-top: unset;
  margin-bottom: unset;
}

.box-container {
  height: 300px;
  border: 1px solid gray;
}

.toggle-container {
  margin-top: 10px;
  /* height: 202px; */
  /* border: 1px solid gray; */
}

.code-container {
  margin-top: 50px;
  /* height: 202px; */
  /* border: 1px solid gray; */
}

.code-container .content pre {
  padding: 10px;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 6px;
}

.toggle-item-container {
  margin-top: 5px;
  /* height: 100px; */
  /* width: 300px; */
  /* border: 1px solid red; */
}

.box-item {
  border-radius: 3px;
  color: #fff;
  text-align: center;
  padding: 8px;
  box-shadow: 0 2px 5px 0 rgba(52, 47, 51, 0.63);
}
